/* @font-face {
    font-family: iSegoeUI;
    src: url(resource/font/segoeui.ttf);
} */
body {
    background-color: #1e1e1e;
    color: ghostwhite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    text-align: center;
}
.pphoto {
    border-radius: 50%; 
    width: 200px; 
    height: 200px; 
}
/* .headr {
    background-color: ghostwhite;
    color: #1DA1F2;
} */
.mainheader {
    background-color: ghostwhite;
    color: #007acc;
}
/** .subheader {
} **/
.footr {
    font-size: small;
}
a:link {
    color: ghostwhite;
    background-color: transparent;
}
a:hover {
    color: #007acc;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: lightblue;
    background-color: transparent;
    text-decoration: underline;
}
hr {
    height: 1px;
    width: 500px;
    text-align: center;
    background-color: ghostwhite;
    border-width: 0;
}
/* .icons {
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
} */